body {
    font-family: 'Montserrat';
    margin-top: 20rem;
}

.navbar {
    border-bottom: 0.1rem solid black;
    font-weight: 700;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #006d77 !important;
}

#landing h1 {
    font-size: 1.625rem;
    font-weight: 600;
}

#landing a {
    text-decoration: none;
    color: #006d77;
}

#landing a:hover {
    color: #83c5be;
}

#courses {
    margin-top: 20em;
}

#courses h1 {
    font-size: 1.625rem;
    font-weight: 600;
}

#courses a {
    text-decoration: none;
    color: #212529;
}

#courses a:hover {
    color: #83c5be;
}