body {
    font-family: 'Montserrat';
}

.landing-page h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 4rem;
    width: 50%
}

.landing-page p {
    width: 75%
}

.landing-page a {
    text-decoration: none;
    color: #006d77;
}

.landing-page a:hover {
    color: #83c5be;
}

nav {
    border-bottom: 0.1rem solid black;
    font-weight: 700;
}

.nav-link {
    color: black !important;
    padding: 0 1.25rem 0 1.25rem !important;
}

.nav-link:hover {
    color: #006d77 !important;
}